In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 217.9 kB/s eta 0:00:55
     --------------------------------------- 0.0/11.9 MB 217.9 kB/s eta 0:00:55
     --------------------------------------- 0.1/11.9 MB 217.9 kB/s eta 0:00:55
     --------------------------------------- 0.1/11.9 MB 204.8 kB/s eta 0:00:58
     --------------------------------------- 0.1/11.9 MB 204.8 kB/s eta 0:00:58
     --------------------------------------- 0.1/11.9 MB 284.4 kB/s eta 0:00:42
      -------------------------------------- 0.2/11.9 MB 364.0 kB/s eta 0:00:33
      -------------------------------------- 0.2/11.9 MB 364.0 kB/s eta 0:00:33
     - ------------------------------------- 0.3/11.9 MB 655.4 kB/s eta 0:00:18
     - ------------------------------------- 0.4/11.9 MB 712.2 kB/s eta 0:00:17
     -- ------------------------------------- 0.7/11.9 MB 1.2 MB/s eta 0:00:10
     --- ------------------------------------ 1.0/11.9 MB 1.4 MB/s eta 0:00:08
     --- ------------------------------------ 1.1/11.9 MB 1.5 MB/s eta 0:00:07
     ---- ----------------------------------- 1.5/11.9 MB 1.8 MB/s eta 0:00:06
     ----- ---------------------------------- 1.7/11.9 MB 2.0 MB/s eta 0:00:06
     ------ --------------------------------- 1.9/11.9 MB 2.1 MB/s eta 0:00:05
     ------ --------------------------------- 2.1/11.9 MB 2.2 MB/s eta 0:00:05
     ------- -------------------------------- 2.3/11.9 MB 2.3 MB/s eta 0:00:05
     -------- ------------------------------- 2.4/11.9 MB 2.3 MB/s eta 0:00:05
     -------- ------------------------------- 2.6/11.9 MB 2.4 MB/s eta 0:00:04
     --------- ------------------------------ 2.8/11.9 MB 2.5 MB/s eta 0:00:04
     ---------- ----------------------------- 3.1/11.9 MB 2.6 MB/s eta 0:00:04
     ----------- ---------------------------- 3.3/11.9 MB 2.7 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.7 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.7 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.7 MB/s eta 0:00:04
     ------------ --------------------------- 3.8/11.9 MB 2.6 MB/s eta 0:00:04
     -------------- ------------------------- 4.3/11.9 MB 2.9 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 2.9 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 2.9 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 2.9 MB/s eta 0:00:03
     ----------------- ---------------------- 5.1/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.3/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------ --------------------- 5.4/11.9 MB 3.1 MB/s eta 0:00:03
     ------------------ --------------------- 5.6/11.9 MB 3.1 MB/s eta 0:00:03
     ------------------- -------------------- 5.7/11.9 MB 3.1 MB/s eta 0:00:03
     ------------------- -------------------- 5.9/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------- ------------------- 6.1/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------- ------------------ 6.4/11.9 MB 3.1 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------- ---------------- 6.8/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------- ---------------- 6.9/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------- ---------------- 7.1/11.9 MB 3.1 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 3.1 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 3.1 MB/s eta 0:00:02
     ------------------------ --------------- 7.4/11.9 MB 3.1 MB/s eta 0:00:02
     ------------------------- -------------- 7.7/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------------- ------------- 7.8/11.9 MB 3.1 MB/s eta 0:00:02
     -------------------------- ------------- 7.9/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------------- ------------ 8.1/11.9 MB 3.1 MB/s eta 0:00:02
     --------------------------- ------------ 8.3/11.9 MB 3.1 MB/s eta 0:00:02
     ---------------------------- ----------- 8.4/11.9 MB 3.1 MB/s eta 0:00:02
     ---------------------------- ----------- 8.6/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------------- ---------- 8.7/11.9 MB 3.1 MB/s eta 0:00:02
     ----------------------------- ---------- 8.8/11.9 MB 3.1 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 3.1 MB/s eta 0:00:01
     ------------------------------ --------- 9.1/11.9 MB 3.0 MB/s eta 0:00:01
     ------------------------------- -------- 9.2/11.9 MB 3.1 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 3.0 MB/s eta 0:00:01
     ------------------------------- -------- 9.5/11.9 MB 3.0 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 3.0 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 3.0 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 3.0 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 3.0 MB/s eta 0:00:01
     ---------------------------------- ----- 10.1/11.9 MB 3.0 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 3.0 MB/s eta 0:00:01
     ---------------------------------- ----- 10.4/11.9 MB 3.3 MB/s eta 0:00:01
     ----------------------------------- ---- 10.5/11.9 MB 3.4 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.4 MB/s eta 0:00:01
     ----------------------------------- ---- 10.7/11.9 MB 3.4 MB/s eta 0:00:01
     ------------------------------------ --- 10.9/11.9 MB 3.3 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 3.3 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 3.3 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 3.3 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.9 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247958 sha256=43b68398bdedd81e386b0f78a0a3bc3c0b51843fb6b5a4d6dae312987de67afe
  Stored in directory: c:\users\devan\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [17]:
import mysql.connector
import pandas as pd

In [19]:
conn = mysql.connector.connect(host = 'localhost', user = 'root', password = '', database = 'world')

In [23]:
pd.read_sql_query('SELECT * FROM city WHERE ID > 500',conn)

C:\Users\devan\AppData\Local\Temp\ipykernel_9008\163255215.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SELECT * FROM city WHERE ID > 500',conn)

        ID        Name CountryCode    District  Population
0      501   Blackburn         GBR     England      140000
1      502     Newport         GBR       Wales      139000
2      503     Preston         GBR     England      135000
3      504   Stockport         GBR     England      132813
4      505     Norwich         GBR     England      124000
...    ...         ...         ...         ...         ...
3574  4075  Khan Yunis         PSE  Khan Yunis      123175
3575  4076      Hebron         PSE      Hebron      119401
3576  4077    Jabaliya         PSE  North Gaza      113901
3577  4078      Nablus         PSE      Nablus      100231
3578  4079       Rafah         PSE       Rafah       92020

[3579 rows x 5 columns]